*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, button, html, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

input[type="search"] {
    -webkit-appearance: none;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

.header {
  background: blue;
  color: white;
}

.line {
  background: #ccc;
  width: 100%;
  height: 1px;
}

/* Components - Form Elements */
.input {

}
.input-s {
  padding: 0 10px;
  font-size: 14px;
}
.input-m {}
.input-l {}
.input-xl {}
.input-default {
  color: #000;
  background-color: white;
  border-radius: 4px;
  outline: none;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border-width: 0;
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px #e0e6ed;
}
.input-default:hover {
  box-shadow: inset 0 0 0 1px #c0ccda;
}
.input-default:focus {
  box-shadow: inset 0 0 0 1px #1fb6ff;
}

/* Components - Grid */
.page-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.page-wrap-s { max-width: 720px; }
.page-wrap-m { max-width: 1180px; }
.page-wrap-l { max-width: 1320px; }

.grid {}
.grid:after, .grid:before { display: table; width: 100%; clear: both; content: "" }
.grid-m { margin-top: -24px; margin-bottom: -24px; }
.grid>div   { float: left; }
.grid-1>div { width: 100% }
.grid-3>div { width: 33.3333% }

/* Utility */
.cf:after {
  content: "";
  display: block;
  clear: both;
}

.float-left { float: left; }
.float-right { float: right; }

.inline>div { display: inline-block; }

.centered {
  margin-left: auto;
  margin-right: auto;
}
.vertically-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Design - Color Scheme */

.color-blue { color: blue; }

/* Design - Typography */
/* Design - Typography - Font Sizes */

.font-size-xxl { font-size: 32px; line-height: 40px; }
.font-size-xl  { font-size: 24px; line-height: 32px; }
.font-size-l   { font-size: 18px; line-height: 24px; }
.font-size-m   { font-size: 16px; line-height: 24px; }
.font-size-s   { font-size: 14px; line-height: 16px; }
.font-size-xs  { font-size: 12px; line-height: 16px; }

/* Design - Typography - Font Weights */

.font-weight-5 { font-weight: 500; }
.font-weight-7 { font-weight: 700; }
.font-weight-9 { font-weight: 900; }

/* Design - Typography - Alignment */

.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

/* Design - Typography - Transformation */

.text-transform-lowercase { text-transform: lowercase; }
.text-transform-uppercase { text-transform: uppercase;; }
.text-transform-capitalize { text-transform: capitalize;; }

/* Design - Border Radius */

.border-radius-s { border-radius: 4px; }
.border-radius-m { border-radius: 8px; }
.border-radius-l { border-radius: 16px; }
.border-circle   { border-radius: 100%; }

.margin-xxs {}
.margin-xs {}
.margin-s {}
.margin-m {}
.margin-l {}
.margin-xl {}

.padding-xxs { padding: 4px; }
.padding-xs { padding: 8px; }
.padding-s { padding: 16px; }
.padding-m { padding: 24px; }
.padding-l { padding: 40px; }
.padding-xl { padding: 64px; }
.padding-xxl { padding: 80px; }

.margin-top-m    { margin-top: 24px; }
.margin-right-m  { margin-right: 24px; }
.margin-bottom-m { margin-bottom: 24px; }
.margin-left-m   { margin-left: 24px; }

.padding-top-m    { padding-top: 24px; }
.padding-right-m  { padding-right: 24px; }
.padding-bottom-m { padding-bottom: 24px; }
.padding-left-m   { padding-left: 24px; }

/* for index.htm only */
.searchInput { opacity: 0; }
.searchInput.active { opacity: 1; }

/* for clock.htm only */
.clock {
  background: turquoise;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
}
